{% extends 'main.html' %}

{% load static %}
{% block content %}



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="page-header header-filter" style="background-image: url('{% static 'img/slider1.jpg'%}');">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <h1 class="title">
                                    KOSH FURNISHING</h1>
                                <h4>Dolce &amp; Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by
                                    Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980
                                    and designed for the same fashion house.</h4>
                                <br>

                                <div class="buttons">
                                    <a href="#pablo" class="btn btn-primary btn-lg">
                                        Read More
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                        <i class="fa fa-get-pocket"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="item">
                <div class="page-header header-filter" style="background-image: url('{% static 'img/slider2.jpg'%}');">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h1 class="title">
                                    KOSH FURNISHING</h1>
                                <h4>Dolce &amp; Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by
                                    Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980
                                    and designed for the same fashion house.</h4>
                                <br>
                                <h6>Connect with us on:</h6>
                                <div class="buttons">
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="item">
                <div class="page-header header-filter" style="background-image: url('{% static 'img/slider3.jpg'%}');">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5 text-right">
                                <h1 class="title">New Collection 50% Off</h1>
                                <h4>There's no doubt that Tesla is delighted with the interest, but the data also raises
                                    a few questions. How long will it take for Tesla to fulfill all those extra orders?
                                </h4>
                                <br>

                                <div class="buttons">
                                    <a href="#pablo" class="btn btn-white btn-simple btn-lg">
                                        <i class="material-icons">share</i> Share Offer
                                    </a>
                                    <a href="#pablo" class="btn btn-danger btn-lg">
                                        <i class="material-icons">shopping_cart</i> Shop Now
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <i class="material-icons">keyboard_arrow_left</i>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <i class="material-icons">keyboard_arrow_right</i>
        </a>
    </div>
</div>

{% comment %} </div> {% endcomment %}



<br>
<br>
<br>
<br>


<div class="main main-raised">
    <div class="container">
    <div class="about-office">
                <div class="row  text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">We build your home</h2>
                        <h4 class="description">Here are some pictures from our products. You can see the place looks like a palace and is fully equiped with everything you need to get the job done.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="{% static 'img/examples/office2.jpg'%}">
                    </div>
                    <div class="col-md-4">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="{% static 'img/examples/office4.jpg'%}">
                    </div>
                    <div class="col-md-4">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="{% static 'img/examples/office3.jpg'%}">
                    </div>
                    <div class="col-md-6">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="{% static 'img/examples/office5.jpg'%}">
                    </div>
                    <div class="col-md-6">
                        <img class="img-rounded img-responsive img-raised" alt="Raised Image" src="{% static 'img/examples/office4.jpg'%}">
                    </div>

                </div>

            
    </div>
</div>
</div>

<br>
<br>

    

{% comment %} <div class ="main main-raised">
<div class="section">
    <div class="container">
        <h2 class="section-title">Latest Offers</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-image">
                        <a href="#pablo">
                            <img src="{% static 'img/examples/gucci.jpg' %}" alt="">
                        </a>
                        <div class="colored-shadow"
                            style="background-image: url(&quot;{% static 'img/examples/gucci.jpg' %}&quot;); opacity: 1;">
                        </div>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">
                            <a href="#pablo">Gucci</a>
                        </h4>
                        <p class="card-description">The structured shoulders and sleek detailing ensure a sharp
                            silhouette. Team it with a silk pocket square and leather loafers.</p>
                        <div class="footer">
                            <div class="price-container">
                                <span class="price price-old"> €1,430</span>
                                <span class="price price-new"> €743</span>
                            </div>
                            <div class="stats">
                                <button type="button" rel="tooltip" title=""
                                    class="btn btn-just-icon btn-simple btn-rose"
                                    data-original-title="Saved to Wishlist">
                                    <i class="material-icons">favorite</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-image">
                        <a href="#pablo">
                            <img src="{% static 'img/examples/dolce.jpg' %}" alt="">
                        </a>
                        <div class="colored-shadow"
                            style="background-image: url(&quot;{% static 'img/examples/dolce.jpg' %}&quot;); opacity: 1;">
                        </div>
                        <div class="ripple-container"></div>
                    </div>

                    <div class="card-content">
                        <h4 class="card-title">
                        </h4>
                        <h4 class="card-title">Dolce &amp; Gabbana</h4>

                        <p class="card-description">The structured shoulders and sleek detailing ensure a sharp
                            silhouette. Team it with a silk pocket square and leather loafers.</p>
                        <div class="footer">
                            <div class="price-container">
                                <span class="price price-old"> €1,430</span>
                                <span class="price price-new">€743</span>
                            </div>
                            <div class="stats">
                                <button type="button" rel="tooltip" title=""
                                    class="btn btn-just-icon btn-simple btn-rose"
                                    data-original-title="Saved to Wishlist">
                                    <i class="material-icons">favorite</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="card card-product card-plain">
                    <div class="card-image">
                        <a href="#pablo">
                            <img src="{% static 'img/examples/tom-ford.' %}jpg" alt="">
                        </a>
                        <div class="colored-shadow"
                            style="background-image: url(&quot;{% static 'img/examples/tom-ford.' %}jpg&quot;); opacity: 1;">
                        </div>
                    </div>

                    <div class="card-content">
                        <h4 class="card-title">
                        </h4>
                        <h4 class="card-title">Dolce &amp; Gabbana</h4>

                        <p class="card-description">The structured shoulders and sleek detailing ensure a sharp
                            silhouette. Team it with a silk pocket square and leather loafers.</p>
                        <div class="footer">
                            <div class="price-container">
                                <span class="price price-old"> €1,430</span>
                                <span class="price price-new">€743</span>
                            </div>
                            <div class="stats">
                                <button type="button" rel="tooltip" title=""
                                    class="btn btn-just-icon btn-simple btn-rose"
                                    data-original-title="Saved to Wishlist">
                                    <i class="material-icons">favorite</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div> {% endcomment %}

{% comment %} features {% endcomment %}

{% comment %} <div class="cd-section" id="features">

	<div class="container">





		<!--     *********     FEATURES 4      *********      -->

	    <div class="features-4">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">Your life will be much easier</h2>
					<h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information.</h5>
				</div>
			</div>

			<div class="row">

				<div class="col-md-3 col-md-offset-1">
		           	<div class="info info-horizontal">
						<div class="icon icon-info">
							<i class="material-icons">code</i>
						</div>
						<div class="description">
							<h4 class="info-title">For Developers</h4>
							<p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
						</div>
		        	</div>

					<div class="info info-horizontal">
						<div class="icon icon-danger">
							<i class="material-icons">format_paint</i>
						</div>
						<div class="description">
							<h4 class="info-title">For Designers</h4>
							<p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="phone-container">
						<img src="{% static '/img/sections/iphone2.png' %}">
					</div>
				</div>

				<div class="col-md-3">
					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">dashboard</i>
						</div>
						<div class="description">
							<h4 class="info-title">Bootstrap Grid</h4>
							<p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
						</div>
					</div>

					<div class="info info-horizontal">
						<div class="icon icon-success">
							<i class="material-icons">view_carousel</i>
						</div>
						<div class="description">
							<h4 class="info-title">Example Pages Included</h4>
							<p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
						</div>
					</div>
				</div>
			</div>

	    </div>

		<!--     *********    END FEATURES 4      *********      -->

	

	</div>
</div> {% endcomment %}

<div class="testimonials-3 section-dark">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="title">What Clients Say</h2>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-testimonial card-plain">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="{% static 'img/faces/card-profile1-square.jpg' %}">
                        </a>
                    </div>

                    <div class="card-content">
                        <h4 class="card-title">Mike Andrew</h4>
                        <h6 class="category text-muted">CEO @ Marketing Digital Ltd.</h6>
                        <h5 class="card-description">"I speak yell scream directly at the old guard on behalf of the future. I gotta say at that time I’d like to meet Kanye I speak yell scream directly at the old guard on behalf of the future."
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-testimonial card-plain">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="{% static 'img/faces/card-profile4-square.jpg' %}">
                        </a>
                    </div>

                    <div class="card-content">
                        <h4 class="card-title">Tina Thompson</h4>
                        <h6 class="category text-muted">Marketing @ Apple Inc.</h6>
                        <h5 class="card-description">"I promise I will never let the people down. I want a better life for all!!! Pablo Pablo Pablo Pablo! Thank you Anna for the invite thank you to the whole Vogue team It wasn’t any Kanyes I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling"
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-testimonial card-plain">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="{% static 'img/faces/card-profile6-square.jpg' %}">
                        </a>
                    </div>

                    <div class="card-content">
                        <h4 class="card-title">Gina West</h4>
                        <h6 class="category text-muted">CFO @ Apple Inc.</h6>
                        <h5 class="card-description">"I've been trying to figure out the bed design for the master bedroom at our Hidden Hills compound... Royère doesn't make a Polar bear bed but the Polar bear. This is a very nice testimonial about this company."
                        </h5>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock content %}